{% extends 'base.html' %}

{% block content %}
{{ super() }}
<main>
<h2 style="padding: 20px">{{ title }}</h2>
<img style="padding-left: 20px" width="80px" src="static/img/me.png" alt="123">
<div style="padding-left: 20px; line-height:1.5">
<h4><br> Колмаков Александр Сергеевич </h4>
<p style="font-size: 12px"><a href="https://itstep.org/about-academy-ru">Компьютерная академия "Шаг"</a> группа: Python123</p>
<p style="font-size: 12px">email: kolmakov@bk.ru</p></div>
</main>
{% endblock content%}